In [2]:
import pandas as pd

In [9]:
alquiler = pd.read_csv('alquiler_12_23_long.csv')
venta = pd.read_csv('ventas_12_23.csv')
renta = pd.read_csv('df_renta_per_capita_long.csv')

In [10]:
media_alquiler_m2_por_distrito = alquiler.groupby('distrito').precio_m2.mean()
media_venta_m2_por_distrito = venta.groupby('distrito').precio_m2.mean()
media_renta_por_distrito = renta.groupby('distrito').valor.mean()

In [11]:
suma_total_por_distrito = media_alquiler_m2_por_distrito + media_venta_m2_por_distrito + media_renta_por_distrito
suma_total_por_distrito_sin_madrid = suma_total_por_distrito.drop('madrid', errors='ignore')

media_total_sin_madrid = suma_total_por_distrito_sin_madrid.mean()

def asignar_cuartil(valor):
    if valor >= suma_total_por_distrito_sin_madrid.quantile(0.75):
        return 'alto'
    elif valor >= suma_total_por_distrito_sin_madrid.quantile(0.5):
        return 'medio_alto'
    elif valor >= suma_total_por_distrito_sin_madrid.quantile(0.25):
        return 'medio_bajo'
    else:
        return 'bajo'


data = []
for distrito in suma_total_por_distrito_sin_madrid.index:
    suma_total = suma_total_por_distrito_sin_madrid[distrito]
    data.append({'distrito': distrito, 'grupo': asignar_cuartil(suma_total)})

data.append({'distrito': 'madrid', 'grupo': 'ciudad'})


df_final = pd.DataFrame(data)

df_final.sort_values('grupo')

           distrito       grupo
10          moncloa        alto
3            centro        alto
4         chamartin        alto
5          chamberi        alto
14        salamanca        alto
13           retiro        alto
18        vicalvaro        bajo
2       carabanchel        bajo
17            usera        bajo
12  puente_vallecas        bajo
20       villaverde        bajo
21           madrid      ciudad
8         hortaleza  medio_alto
7        fuencarral  medio_alto
16           tetuan  medio_alto
1           barajas  medio_alto
0        arganzuela  medio_alto
9            latina  medio_bajo
15         san_blas  medio_bajo
6     ciudad_lineal  medio_bajo
19   villa_vallecas  medio_bajo
11        moratalaz  medio_bajo

In [8]:
df_final.to_csv('master_distritos.csv')